{% extends 'layout.html' %}

{% block page_title %}{% trans %}My Blog Administration{% endtrans %}{% endblock %}

{% block content %}	

	<section id="article">
	<h1>{% trans %}My Blog Administration{% endtrans %}</h1>

	{% if articles %}
		<table>
			<thead>
				<tr>
					<th style="width: 50%">{% trans %}Title{% endtrans %}</th>
					<th style="width: 20%">{% trans %}Author{% endtrans %}</th>
					<th>{% trans %}Date{% endtrans %}</th>
					<th></th>
					<th colspan="3">{% trans %}Actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.title }}</td>
						<td>{{ article.author }}</td>
						<td>{{ article.timestamp|date('jS F Y') }}</td>
						<td class="center">
							{% if article.publish %}
								<img src="/images/publish.png" alt="{% trans %}Article public{% endtrans %}">
							{% else %}
								<img src="/images/notpublish.png" alt="{% trans %}Article private{% endtrans %}">
							{% endif %}

						</td>
						<td><a href="/admin/publish/{{ article.id }}">{% trans %}Publish{% endtrans %}</a></td>
						<td><a href="/admin/edit/{{ article.id }}">{% trans %}Edit{% endtrans %}</a></td>
						<td><a href="/admin/delete/{{ article.id }}">{% trans %}Delete{% endtrans %}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<ul class="legend">
			<li><strong>{% trans %}Legend{% endtrans %}</strong></li>
			<li><img src="/images/publish.png" alt="{% trans %}Legend Public{% endtrans %}"> {% trans %}Public{% endtrans %}</li>
			<li><img src="/images/notpublish.png" alt="{% trans %}Legend private{% endtrans %}"> {% trans %}Private{% endtrans %}</li>
		</ul>


	{% else %}
		<p>{% trans %}There are currently no articles.{% endtrans %}</p>
	{% endif %}

	</section>

	<section id="author">

		<h1>{% trans %}My Authors Administration{% endtrans %}</h1>

		{% if authors %}
			<table>
				<thead>
					<tr>
						<th style="width: 50%">{% trans %}Name{% endtrans %}</th>
						<th style="width: 20%">{% trans %}Email{% endtrans %}</th>
						<th>{% trans %}Login{% endtrans %}</th>
						<th></th>
						<th colspan="3">{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for author in authors %}
						<tr>
							<td><a href="/admin/viewauthor/{{ author.id }}">{{ author.nom }}</a></td>
							<td>{{ author.email }}</td>
							<td>{{ author.login }}</td>
							<td class="center">
								{% if author.statut %}
									<img src="/images/publish.png" alt="{% trans %}Author public{% endtrans %}">
								{% else %}
									<img src="/images/notpublish.png" alt="{% trans %}Author private{% endtrans %}">
								{% endif %}

							</td>
							<td><a href="/admin/authorpublish/{{ author.id }}">{% trans %}Statut{% endtrans %}</a></td>
							<td><a href="/admin/authoredit/{{ author.id }}">{% trans %}Edit{% endtrans %}</a></td>
							<td><a href="/admin/authordelete/{{ author.id }}">{% trans %}Delete{% endtrans %}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<ul class="legend">
				<li><strong>{% trans %}Legend{% endtrans %}</strong></li>
				<li><img src="/images/publish.png" alt="{% trans %}Legend Public{% endtrans %}"> {% trans %}Public{% endtrans %}</li>
				<li><img src="/images/notpublish.png" alt="{% trans %}Legend private{% endtrans %}"> {% trans %}Private{% endtrans %}</li>
			</ul>


		{% else %}
			<p>{% trans %}There are currently no authors.{% endtrans %}</p>
		{% endif %}
	</section>

{% endblock %}