{% extends 'layout.html' %}

{% block page_title %}My Blog Administration{% endblock %}

{% block content %}	

	<section id="article">
	<h1>My Blog Administration</h1>

	{% if articles %}
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Date</th>
					<th></th>
					<th colspan="3">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.title }}</td>
						<td>{{ author.nom }}</td>
						<td>{{ article.timestamp|date('jS F Y') }}</td>
						<td class="center">
							{% if article.publish %}
								<img src="/images/publish.png" alt="Article public">
							{% else %}
								<img src="/images/notpublish.png" alt="Article private">
							{% endif %}

						</td>
						<td><a href="/admin/publish/{{ article.id }}">Publish</a></td>
						<td><a href="/admin/edit/{{ article.id }}">Edit</a></td>
						<td><a href="/admin/delete/{{ article.id }}">Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<ul class="legend">
			<li><strong>Legend</strong></li>
			<li><img src="/images/publish.png" alt="Legend Public"> Public</li>
			<li><img src="/images/notpublish.png" alt="Legend private"> Private</li>
		</ul>


	{% else %}
		<p>There are currently no articles.</p>
	{% endif %}

	</section>

	<section id="author">

		<h1>My Authors Administration</h1>

		{% if authors %}
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Email</th>
						<th>Login</th>
						<th></th>
						<th colspan="3">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for author in authors %}
						<tr>
							<td>{{ author.nom }}</td>
							<td>{{ author.email }}</td>
							<td>{{ author.login }}</td>
							<td class="center">
								{% if author.statut %}
									<img src="/images/publish.png" alt="Author public">
								{% else %}
									<img src="/images/notpublish.png" alt="Author private">
								{% endif %}

							</td>
							<td><a href="/admin/authorpublish/{{ author.id }}">Statut</a></td>
							<td><a href="/admin/authoredit/{{ author.id }}">Edit</a></td>
							<td><a href="/admin/authordelete/{{ author.id }}">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<ul class="legend">
				<li><strong>Legend</strong></li>
				<li><img src="/images/publish.png" alt="Legend Public"> Public</li>
				<li><img src="/images/notpublish.png" alt="Legend private"> Private</li>
			</ul>


		{% else %}
			<p>There are currently no authors.</p>
		{% endif %}
	</section>

{% endblock %}