<form action="{{ action_url }}" method="post">
	<h1>{{ action_name }} Article</h1>
	
	<p>
		<label for="title">Title: </label><br />
		<input type="text" name="title" value="{{ article.title|default('') }}" id="title" />
	</p>
	
	<p>
		<label for="author">Author: </label>
		<select name="author">
			{% for author in authors %}
				{% if author.statut %}
				<option value="{{ author.id }}">{{ author.nom|default('') }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</p>
	
	<p>
		<label for="summary">Summary: </label><br />
		<textarea name="summary" id="summary" class="editable summary">{{ article.summary|default('') }}</textarea>
	</p>	
	
	<p>
		<label for="content">Content: </label><br />
		<textarea name="content" id="content" class="editable">{{ article.content|default('') }}</textarea>
	</p>
	
	<p>
		<input type="submit" value="{{ action_name }} Article" />
	</p>
</form>

<!--script type="text/javascript" src="/templates/assets/bootstrap/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
 });
</script-->

<!-- load the jQuery and require.js libraries -->
<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>

<!-- load the Aloha Editor core and some plugins -->
<script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                   data-aloha-plugins="common/ui,
                                        common/format,
                                        common/list,
                                        common/link,
                                        common/highlighteditables">
</script>

<!-- load the Aloha Editor CSS styles -->
<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />

<!-- make all elements with class="editable" editable with Aloha Editor -->
<script type="text/javascript">
     Aloha.ready( function() {
            var $ = Aloha.jQuery;
            $('.editable').aloha();
     });
</script>

