<!DOCTYPE html>
<html>
	<head>
		<title>{% block page_title %} {% endblock %}</title>
		<meta charset="utf8" />

	    <meta name="author" content="@__cyp">
	  
	    <link rel="stylesheet" media="all" href="/simple/bootstrap.min.css"/>
	    <link rel="stylesheet" media="all" href="/simple/bootstrap-responsive.min.css"/>
	    <link rel="stylesheet" media="all" href="/simple/screen.css"/>

	</head>
	<body>
		<div class="container">
			<ul class="menu">
				<li><a href="/admin/">Return Admin</a></li>
				<li><a href="/admin/add">Add Article</a></li>
				<li><a href="/admin/addauthor">Add Author</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/">View Website</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>

			{% if flash.ok %}
			<span class="alert alert-info">{{ flash.ok }}  <button class="btn-info btn-mini btn-flash">X</button></span>{% endif %}
			{% if flash.err %}
			<span class="alert alert-error">{{ flash.err }}  <button class="btn-inverse btn-mini btn-flash">X</button></span>{% endif %}

			{% block content %} {% endblock %}
		</div>

		<div class="container">
				<ul class="inline">
					<li>2013</li>
					<li>&minus;</li>
					<li><a href="">{{ SITE_NAME }}</a></li>
					<li>&minus;</li>
					<li><a href="{{ LICENCE_URL }}">{{ LICENCE }}</a></li>
				</ul>
		</div>
		<script src="/javascripts/jquery.min.js"></script>
		<script>
			// Close flash message
			$(document).ready(function() {
				$(".alert-info,.alert-error").fadeIn().delay(2000).fadeOut('slow'); 
				$("button.btn-flash").bind('click', function(){
					$('.alert').css('display', 'none');
				});
			});
		</script>
		{% if GOOGLE_UA_ID is defined %}
		<script>
			var _gaq = [['_setAccount', '{{ GOOGLE_UA_ID }}'], ['_trackPageview'], ['_trackPageLoadTime']];
			( function(d, t) {
					var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
					g.async = 1;
					g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
					s.parentNode.insertBefore(g, s)
				}(document, 'script'));
		</script>
		{% endif %}

	</body>
</html>