<!DOCTYPE html>
<html>
	<head>
		<title>{% block page_title %} {% endblock %}</title>
		<meta charset="utf8" />

	    <meta name="author" content="@__cyp">
	  
	    <link rel="stylesheet" media="all" href="/simple/bootstrap.min.css"/>
	    <link rel="stylesheet" media="all" href="/simple/bootstrap-responsive.min.css"/>
	    <link rel="stylesheet" media="all" href="/simple/screen.css"/>

	</head>
	<body>
		<div class="container">
			<ul class="menu">
				<li><a href="/admin/">Return Admin</a></li>
				<li><a href="/admin/add">Add Article</a></li>
				<li><a href="/admin/addauthor">Add Author</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/">View Website</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>

			{% block content %} {% endblock %}
		</div>

		{% if GOOGLE_UA_ID is defined %}
		<script>
			var _gaq = [['_setAccount', '{{ GOOGLE_UA_ID }}'], ['_trackPageview'], ['_trackPageLoadTime']];
			( function(d, t) {
					var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
					g.async = 1;
					g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
					s.parentNode.insertBefore(g, s)
				}(document, 'script'));
		</script>
		{% endif %}

	</body>
</html>