<form action="{{ action_url }}" method="post">
	
	<p>
		<label for="email">{% trans %}Email:{% endtrans %} </label>
		<input type="text" name="email" value="" id="email" />
	</p>

	<p>
		<label for="subject">{% trans %}Subject:{% endtrans %} </label>
		<input type="text" name="subject" value="" id="subject" />
	</p>
	
	<p>
		<label for="message">{% trans %}Message:{% endtrans %} </label>
		<textarea name="message" id="message" class="editable"></textarea>
	</p>
	
	<p>
		<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token|raw }}">
		<input type="submit" value="{{ action_name }}" />
	</p>
</form>
